@model IEnumerable<sisoC.Models.State>

@{
    ViewBag.Title = "Departamentos";
}

<h2>Listado de Departamentos</h2>

<p>
    @Html.ActionLink("Crear Registro", "Create", new { }, new { @class = "btn btn-primary btn-lg" })
</p>
<table class="table table-striped table-bordered table-hover">
    <tr class="table-secondary">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.StateID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.StateID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.StateID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
