<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Caliad Colombia</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Calidad Colombia -- SISO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Usuarios", "Index", "Users")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registros<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ciudades", "Index", "Cities")</li>
                            <li>@Html.ActionLink("Departamentos", "Index", "States")</li>
                            <li>@Html.ActionLink("Estado Civil", "Index", "Civils")</li>
                            <li>@Html.ActionLink("Genero", "Index", "Genders")</li>
                            <li>@Html.ActionLink("Tipos Documento", "Index", "DocumentTypes")</li>
                            <li>@Html.ActionLink("Tipo Sangre", "Index", "FactorRhs")</li>
                            <li>@Html.ActionLink("Roles Usuario", "Index", "UserRoles")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registros2<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("AFP", "Index", "Afpes")</li>
                            <li>@Html.ActionLink("ARP", "Index", "Arprs")</li>
                            <li>@Html.ActionLink("Categoria Licencia", "Index", "DriveLicenses")</li>
                            <li>@Html.ActionLink("EPS", "Index", "Epsas")</li>
                            <li>@Html.ActionLink("Nivel Escolar", "Index", "SchoolLevels")</li>
                            <li>@Html.ActionLink("Pacientes", "Index", "Pacients")</li>
                            <li>@Html.ActionLink("Profesiones", "Index", "Professions")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
