@model IEnumerable<sisoC.Models.Civil>

@{
    ViewBag.Title = "Estado Civil";
}

<h2>Listado de Estados Civiles</h2>

<p>
    @Html.ActionLink("Crear Nuevo Registro", "Create", new { }, new { @class = "btn btn-primary btn-lg" })
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CivilID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.CivilID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CivilID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
