@model sisoC.Models.Examen

@{
    ViewBag.Title = "Crear";
}

<h2>Crear Registro</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Examenes</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h1>Datos Básicos del Examen</h1>
    <table style="width: 100%">
        <colgroup>
            <col style="width: 25%" />
            <col style="width: 25%" />
            <col style="width: 25%" />
            <col style="width: 25%" />
        </colgroup>
        <tr>
            <th>
                @Html.LabelFor(model => model.PacientID, htmlAttributes: new { @class = "control-label" })
            </th>
            <th>
                @Html.LabelFor(model => model.ExamenTypeID, htmlAttributes: new { @class = "control-label" })
            </th>
            <th>
                @Html.LabelFor(model => model.ExamenLevelID, htmlAttributes: new { @class = "control-label" })
            </th>
            <th>
                @Html.LabelFor(model => model.OtherExamID, htmlAttributes: new { @class = "control-label" })
            </th>

        </tr>
        <tr>
            <td>
                @Html.DropDownList("PacientID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PacientID, "", new { @class = "text-danger" })
            </td>

            <td>
                @Html.DropDownList("ExamenTypeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExamenTypeID, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.DropDownList("ExamenLevelID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExamenLevelID, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.DropDownList("OtherExamID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OtherExamID, "", new { @class = "text-danger" })
            </td>
        </tr>
    </table>
    <table style="width: 100%">
        <colgroup>
            <col style="width: 25%" />
            <col style="width: 25%" />
            <col style="width: 25%" />
            <col style="width: 25%" />
        </colgroup>
        <tr>
            <th>
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
            </th>
            <th>
                @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label" })
            </th>
            <th>
                @Html.LabelFor(model => model.EnterpriseID, htmlAttributes: new { @class = "control-label" })
            </th>
            <th>
                @Html.LabelFor(model => model.ExOptoID, htmlAttributes: new { @class = "control-label col-md-2" })
            </th>

        </tr>
        <tr>
            <td>                
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </td>

            <td>                
                @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.DropDownList("EnterpriseID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EnterpriseID, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.DropDownList("ExOptoID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExOptoID, "", new { @class = "text-danger" })
            </td>
        </tr>
    </table>
    <table style="width: 100%">
        <colgroup>
            <col style="width: 25%" />
            <col style="width: 25%" />
            <col style="width: 25%" />
            <col style="width: 25%" />
        </colgroup>
        <tr>
            <th>
                @Html.LabelFor(model => model.ExFonoID, htmlAttributes: new { @class = "control-label" })
            </th>
            <th>
                @Html.LabelFor(model => model.ExPsicoID, htmlAttributes: new { @class = "control-label" })
            </th>
            <th>
                @Html.LabelFor(model => model.ExMedicoID, htmlAttributes: new { @class = "control-label" })
            </th>
            <th>
                @Html.LabelFor(model => model.ExActivoID, htmlAttributes: new { @class = "control-label" })
            </th>

        </tr>
        <tr>
            <td>
                @Html.DropDownList("ExFonoID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExFonoID, "", new { @class = "text-danger" })
            </td>

            <td>
                @Html.DropDownList("ExPsicoID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExPsicoID, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.DropDownList("ExMedicoID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExMedicoID, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.DropDownList("ExActivoID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExActivoID, "", new { @class = "text-danger" })
            </td>
        </tr>
    </table>
    <table style="width: 100%">
        <colgroup>
            <col style="width: 50%" />
            <col style="width: 50%" />
        </colgroup>
        <tr>
            <th>
               <label> </label>
            </th>
            <th>
                <label> </label>
            </th>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Crear Registro" class="btn btn-primary btn-lg" />
            </td>

            <td>
                @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success btn-lg" })
            </td>
        </tr>
    </table>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('.Date').datepicker({
                showOptions: { speed: 'fast' },
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                gotoCurrent: true
            });            
        });  
    </script>
}
