@model sisoC.Models.Examen

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar Registro</h2>

<h3>¿Está seguro de Querer Eliminar el Registro Seleccionado?</h3>
<div>
    <h4>Examenes</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Pacient.Document)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Pacient.Document)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Date)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Time)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Time)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Enterprise.Document)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Enterprise.Document)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ExamenLevel.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ExamenLevel.Description)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ExamenType.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ExamenType.Description)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.OtherExam.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OtherExam.Description)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ExOpto.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ExOpto.Description)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ExFono.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ExFono.Description)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ExMedico.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ExMedico.Description)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ExPsico.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ExPsico.Description)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ExActivo.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ExActivo.Description)
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar Registro" class="btn btn-danger btn-lg" /> |
            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success btn-lg" })
        </div>
    }
</div>
