@model sisoC.Models.Pacient

@{
    ViewBag.Title = "Pacientes";
}

<h2>Detalles del Registro</h2>

<div>
    <h4>Pacientes</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.DocumentType.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DocumentType.Description)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Document)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Document)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Gender.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender.Description)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.BirthDay)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BirthDay)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.BirthPlace)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BirthPlace)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Civil.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Civil.Description)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Family)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Family)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.FactorRh.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FactorRh.Description)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.SchoolLevel.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SchoolLevel.Description)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Profession.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Profession.Description)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.TimeProfession)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TimeProfession)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Possition)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Possition)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.OldMount)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OldMount)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.OldYear)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OldYear)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Military.Options)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Military.Options)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.DriveLicense.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DriveLicense.Description)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.State.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.State.Name)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.City.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.City.Name)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Movil1)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Movil1)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Movil2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Movil2)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.EMail)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EMail)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Epsa.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Epsa.Description)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Arpr.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Arpr.Description)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Afpe.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Afpe.Description)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Photo)
                    </dt>

                    <dd>
                        @if (!string.IsNullOrEmpty(Model.Photo))
                        {
                            <img src="@Url.Content(Model.Photo)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
                        }
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Firm)
                    </dt>

                    <dd>
                        @if (!string.IsNullOrEmpty(Model.Firm))
                        {
                            <img src="@Url.Content(Model.Firm)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
                        }
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PacientID }, new { @class = "btn btn-warning btn-lg" }) |
    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success btn-lg" })
</p>
