@model sisoC.Models.Enterprise

@{
    ViewBag.Title = "Crear";
}

<h2>Crear Nuevo Registro</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Empresas</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table style="width: 100%">
        <colgroup>
            <col style="width: 35%" />
            <col style="width: 35%" />
            <col style="width: 30%" />
        </colgroup>
        <tr>
            <th>
                @Html.LabelFor(model => model.DocumentTypeID, htmlAttributes: new { @class = "control-label" })
            </th>
            <th>
                @Html.LabelFor(model => model.Document, htmlAttributes: new { @class = "control-label" })
            </th>
            <td>
                @Html.LabelFor(model => model.BusinessName, htmlAttributes: new { @class = "control-label" })
            </td>

        </tr>
        <tr>
            <td>
                @Html.DropDownList("DocumentTypeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DocumentTypeID, "", new { @class = "text-danger" })
            </td>

            <td>
                @Html.EditorFor(model => model.Document, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Document, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.EditorFor(model => model.BusinessName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BusinessName, "", new { @class = "text-danger" })
            </td>

        </tr>
    </table>
    <table style="width: 100%">
        <colgroup>
            <col style="width: 35%" />
            <col style="width: 35%" />
            <col style="width: 30%" />
        </colgroup>
        <tr>
            <th>
                @Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "control-label" })
            </th>
            <th>
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
            </th>
            <td>
                @Html.LabelFor(model => model.StateID, htmlAttributes: new { @class = "control-label" })
            </td>


        </tr>
        <tr>
            <td>
                @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
            </td>

            <td>
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.DropDownList("StateID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StateID, "", new { @class = "text-danger" })
            </td>

        </tr>
    </table>
    <table style="width: 100%">
        <colgroup>
            <col style="width: 35%" />
            <col style="width: 35%" />
            <col style="width: 30%" />
        </colgroup>
        <tr>
            <th>
                @Html.LabelFor(model => model.CityID, htmlAttributes: new { @class = "control-label" })
            </th>
            <th>
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })
            </th>
            <td>
                @Html.LabelFor(model => model.Movil1, htmlAttributes: new { @class = "control-label" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DropDownList("CityID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
            </td>

            <td>
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.EditorFor(model => model.Movil1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Movil1, "", new { @class = "text-danger" })
            </td>
        </tr>
    </table>
    <table style="width: 100%">
        <colgroup>
            <col style="width: 35%" />
            <col style="width: 35%" />
            <col style="width: 30%" />
        </colgroup>
        <tr>
            <th>
                @Html.LabelFor(model => model.Movil2, htmlAttributes: new { @class = "control-label" })
            </th>
            <th>
                @Html.LabelFor(model => model.EMail, htmlAttributes: new { @class = "control-label" })
            </th>
            <td>
                @Html.LabelFor(model => model.URL, htmlAttributes: new { @class = "control-label" })
            </td>


        </tr>
        <tr>
            <td>
                @Html.EditorFor(model => model.Movil2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Movil2, "", new { @class = "text-danger" })
            </td>

            <td>
                @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
            </td>

        </tr>
    </table>
    <table style="width: 100%">
        <colgroup>
            <col style="width: 35%" />
            <col style="width: 35%" />
            <col style="width: 30%" />
        </colgroup>
        <tr>
            <th>
                @Html.LabelFor(model => model.TypePay, htmlAttributes: new { @class = "control-label" })
            </th>
            <th>
                
            </th>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                @Html.EditorFor(model => model.TypePay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TypePay, "", new { @class = "text-danger" })
            </td>

            <td>
                <input type="submit" value="Crear Registro" class="btn btn-primary btn-lg" />
            </td>
            <td>
                @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success btn-lg" })
            </td>

        </tr>
    </table>  
    
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
       var Url = '@Url.Action("GetCities", "Generic")';
    </script>
}
